  <nav>
    <ul>
      <li><a href="/" title="Go home">Home</a></li>
      <li><a href="/about/" title="About the boilerplate">About</a></li>
      <li><a href="/blog-post-1/" title="Blog the boilerplate">Blog</a></li>
    
    </ul>
  </nav>